<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>


<header style="text-align: center;">
    <h1>Customers</h1>
</header>

<div class="navbar">
    <a href="services.html">Services</a>
    <a href="bookings.html">Bookings</a>
    <a href="rooms.html">Rooms</a>
</div>

<table border="3" align="center">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.email}"></td>
    </tr>
    </tbody>
</table>

<h2>Add New Customer</h2>

<div class="container">

    <form method="post" action="/customers/add">
        <label for="name">Name:</label><br/>
        <input type="text" id="name" name="name" class="input"><br/>
        <label for="email">Email:</label><br/>
        <input type="email" id="email" name="email" class="input"><br/>
        <input type="submit" value="Add Customer" class="button">
    </form>
</div>


</body>
</html>
