<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Management</title>
    <link rel="stylesheet" href="style.css">
    <h1 class="logo">Hotel Management</h1>
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav>
      <ul>
        <!--       Incase the uncommented is for thymeleaf  
        <li><a href="home.html">Home</a></li>
        <li><a href="bookings.html">Booking</a></li>
        <li><a href="customers.html">Customers</a></li>
        <li><a href="rooms.html">Rooms</a></li>
        <li><a href="services.html">Services</a></li> 
        -->
        <li><a href="home">Home</a></li>
        <li><a href="bookings">Booking</a></li>
        <li><a href="customers">Customers</a></li>
        <li><a href="rooms">Rooms</a></li>
        <li><a href="services">Services</a></li>
      </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>
</header>

<div class="content">
    <body>
        <h1>Home Page</h1>
    </body>
</div>
</html>
