<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service Management</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <h1 class="logo">Hotel Management</h1>
    <nav>
      <ul>
        <li><a href="home">Home</a></li>
        <li><a href="bookings">Booking</a></li>
        <li><a href="customers">Customers</a></li>
        <li><a href="rooms">Rooms</a></li>
        <li><a href="services">Services</a></li>
      </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>
</header>
<div class="content">
    <div class="container">
        <h2>Provided Services</h2>
        <table class="table table-striped" border="1"> <!-- Added border="1" attribute -->
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Actions</th>
                <th>Booking (ID)</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="providedService : ${providedServices}">
                <td th:text="${providedService.id}"></td>
                <td th:text="${providedService.name}"></td>
                <td th:text="${providedService.description}"></td>
                <td th:text="${providedService.price}"></td>
                <td>
                    <form th:action="@{'/providedServices/delete/' + ${providedService.id}}" method="post">
                        <input type="hidden" name="_method" value="DELETE" />
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
	    <h2>Add New Service</h2>
	    <form method="post" action="/providedServices/add">
	        <label for="name">Name:</label><br/>
	        <input type="text" id="name" name="name"><br/>
	        <label for="description">Description:</label><br/>
	        <input type="text" id="description" name="description"><br/>
	        <label for="price">Price:</label><br/>
	        <input type="number" id="price" name="price"><br/>
	        <input type="submit" value="Add Service">
	    </form>
	</div>
</div>
</body>
</html>




